.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  gap: 10px;

}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 20px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
}

.search input {
  height: 30px;
  border-width: 0 0 1px;
  margin-left: 10px;
}